.float-box {
  width: 50%;
  float: left;
  padding: 16px;
  background-color: beige;
  gap: 20px;
  position: sticky;
}

.flex-box {
  display: flex;
  padding: 16px;
  width: 50%;
  background-color: rgb(49, 35, 196);
  gap: 20px;
  position: fixed;
}

.grid-box {
  display: grid;
  gap: 20px;
  position: relative;
}
.gridone {
  grid-row: 1;
  background-color: darkcyan;
}
.gridtwo {
  grid-row: 1;
  background-color: darkviolet;
}
